body{
    margin: 0;
}
header{
 background-color: #696969;
 padding: 50px;

}
h1{ 
    font-family: 'Merriweather', serif;
    font-size: 50px;
    color: white;
    text-align:center;
    animation-name: titulo;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes titulo {

    0%{
        color: #ce4366;
        opacity: 0.75;
    }
    25%{
        color: aqua;
        opacity: 1;
    }
    50%{
       color: burlywood;
        opacity: 0.50;
    }
    75%{
        color: darkseagreen;
        opacity: 1;
    }
}

nav {
    width: 100%;
    

}

nav ul {
    padding: 0;
    color: #fff;
}

nav ul li {
    list-style: none;
}

li {
    font-family: 'Heebo', sans-serif;
    text-align:left;
    font-size: 20px;
    color: #000000;

}

#menu {
    list-style: none;
}

#menu li {
    position: relative;
    float: left;
}

#menu li a {
    color: #333;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
}

#menu li a:hover {
    background: #333;
    color: #fff;
    cursor: pointer;
    text-shadow: 0px 0px 5px #fff;
}

footer{
    background-color: #696969;
    padding: 25px 20px;
}
#rodape{
    font-family: 'Merriweather', serif;
    font-size: 23px;
    color: white;
    text-align:center;
}
h2{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 26px;
  color: black;
  text-align: left;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #333;

    
}
#content {
    background-color: #DCDCDC;
    margin: 24px;
    padding: 20px;
    box-shadow:  0px 2px 5px black;
}





